:root {
  --background: #ffffff;
  --foreground: #171717;
  --input-background: #f0f0f0;
  --input-border: #cccccc;
  --button-background: #007bff;
  --button-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --input-background: #1a1a1a;
    --input-border: #333333;
    --button-background: #0056b3;
    --button-color: #ffffff;
  }
}

html,
body {
  height: 100vh; /* Garante que html e body ocupem toda a altura da viewport */
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove padding padrão */
  overflow: auto; /* Impede rolagem, se necessário */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
